<div class="body">
  <h2 class="title">{{ 'CLIENTE_ENCUESTAS.TITULO' | translate }}</h2>
  <div class="survey-form">
    <form [formGroup]="formEncuesta">
      <div class="form-group">
        <label for="service-rating" class="titulo-input"
          >¿{{ 'CLIENTE_ENCUESTAS.P1' | translate }}?</label
        >
        <input
          type="range"
          id="service-rating"
          name="service-rating"
          min="1"
          max="5"
          [(ngModel)]="serviceRating"
          formControlName="atencion"
        />
        <span>{{ serviceRating }}</span>
      </div>
      @if (errorAtencion){
      <div class="error-message">
        <p>{{ mensajeAtencion }}</p>
      </div>
      }
      <div class="form-group">
        <label for="food-rating" class="titulo-input"
          >¿{{ 'CLIENTE_ENCUESTAS.P2' | translate }}?</label
        >
        <input
          type="range"
          id="food-rating"
          name="food-rating"
          min="1"
          max="5"
          [(ngModel)]="saborComida"
          formControlName="sabor"
        />
        <span>{{ saborComida }}</span>
      </div>

      @if (errorSabor){
      <div class="error-message">
        <p>{{ mensajeSabor }}</p>
      </div>
      }

      <div class="form-group">
        <label class="titulo-input">¿{{ 'CLIENTE_ENCUESTAS.P3' | translate }}?</label>
        <label>
          <input
            type="radio"
            name="comidaCaliente"
            value="si"
            formControlName="comidaCaliente"
          />
          {{ 'CLIENTE_ENCUESTAS.SI' | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="comidaCaliente"
            value="no"
            formControlName="comidaCaliente"
          />
          {{ 'CLIENTE_ENCUESTAS.NO' | translate }}
        </label>
      </div>
      @if (errorCaliente){
      <div class="error-message">
        <p>{{ mensajeCaliente }}</p>
      </div>
      }

      <div class="form-group">
        <label class="titulo-input">¿{{ 'CLIENTE_ENCUESTAS.P4' | translate }}?</label>
        <label>
          <input
            type="radio"
            name="porcionesAdecuadas"
            value="Muy grandes"
            formControlName="porcionesAdecuadas"
          />
          {{ 'CLIENTE_ENCUESTAS.GRANDES' | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="porcionesAdecuadas"
            value="Adecuadas"
            formControlName="porcionesAdecuadas"
          />
          {{ 'CLIENTE_ENCUESTAS.ADECUADAS' | translate }}
        </label>

        <label>
          <input
            type="radio"
            name="porcionesAdecuadas"
            value="Muy pequeñas"
            formControlName="porcionesAdecuadas"
          />
          {{ 'CLIENTE_ENCUESTAS.PEQUENAS' | translate }}
        </label>
      </div>
      @if (errorPorciones){
      <div class="error-message">
        <p>{{ mensajePorciones }}</p>
      </div>
      }

      <div class="form-group">
        <label class="titulo-input"
          >¿{{ 'CLIENTE_ENCUESTAS.P5' | translate }}?</label
        >
        <label>
          <input
            type="radio"
            name="presentacionAtractiva"
            value="si"
            formControlName="presentacionAtractiva"
          />
          {{ 'CLIENTE_ENCUESTAS.SI' | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="presentacionAtractiva"
            value="no"
            formControlName="presentacionAtractiva"
          />
          {{ 'CLIENTE_ENCUESTAS.NO' | translate }}
        </label>
      </div>

      @if (errorPresentacion){
      <div class="error-message">
        <p>{{ mensajePresentacion }}</p>
      </div>
      }

      <div class="form-group">
        <label class="titulo-input"
          >¿{{ 'CLIENTE_ENCUESTAS.P6' | translate }}?</label
        >
        <div class="checkbox-group">
          <div class="checkbox-item">
            <input
              type="checkbox"
              id="vegetariano"
              value="vegetariano"
              (change)="onCheckboxChange($event)"
            />
            <label for="vegetariano">{{ 'CLIENTE_ENCUESTAS.VEGETARIANO' | translate }}</label>
          </div>
          <div class="checkbox-item">
            <input
              type="checkbox"
              id="vegano"
              value="vegano"
              (change)="onCheckboxChange($event)"
            />
            <label for="vegano">{{ 'CLIENTE_ENCUESTAS.VEGANO' | translate }}</label>
          </div>
          <div class="checkbox-item">
            <input
              type="checkbox"
              id="gluten-free"
              value="gluten-free"
              (change)="onCheckboxChange($event)"
            />
            <label for="gluten-free">{{ 'CLIENTE_ENCUESTAS.GLUTEN' | translate }}</label>
          </div>
          <div class="checkbox-item">
            <input
              type="checkbox"
              id="organico"
              value="organico"
              (change)="onCheckboxChange($event)"
            />
            <label for="organico">{{ 'CLIENTE_ENCUESTAS.ORGANICO' | translate }}</label>
          </div>
        </div>
      </div>

      @if (errorTipoMenu){
      <div class="error-message">
        <p>{{ mensajeMenu }}</p>
      </div>
      }

      <div class="form-group">
        <label for="wait-time" class="titulo-input"
          >¿{{ 'CLIENTE_ENCUESTAS.P7' | translate }}?</label
        >
        <select
          id="wait-time"
          name="wait-time"
          required
          formControlName="tiempoEspera"
        >
          <option value="">{{ 'CLIENTE_ENCUESTAS.SELECCIONE' | translate }}...</option>
          <option value="menos de 15 minutos">{{ 'CLIENTE_ENCUESTAS.MENOS' | translate }}</option>
          <option value="15-30 minutos">{{ 'CLIENTE_ENCUESTAS.MIN15' | translate }}</option>
          <option value="30-45 minutos">{{ 'CLIENTE_ENCUESTAS.MIN30' | translate }}</option>
          <option value="más de 45 minutos">{{ 'CLIENTE_ENCUESTAS.MAS45' | translate }}</option>
        </select>
      </div>
      @if (errorTiempo){
      <div class="error-message">
        <p>{{ mensajeTiempo }}</p>
      </div>
      }

      <div class="form-group">
        <label for="comments" class="titulo-input"
          >{{ 'CLIENTE_ENCUESTAS.COMENTARIOS' | translate }}:</label
        >
        <textarea
          id="comments"
          name="comments"
          rows="4"
          formControlName="comentario"
        ></textarea>
      </div>

      <button (click)="guardarEncuesta()">{{ 'CLIENTE_ENCUESTAS.ENVIAR' | translate }}</button>
    </form>
  </div>
</div>
