
  <div class="modal-overlay" id="modalOverlay">
  <div class="modal-content">
    <div class="button-grid">
          <label for="fecha">{{ 'CLIENTE_RESERVA.SELECCIONAR' | translate }}:</label>
          <input type="datetime-local" [(ngModel)]="fechaSeleccionada" />
          <label for="fecha">{{ 'SOLICITUD.TIPO_MESA' | translate }}:</label>
          <ion-select [(ngModel)]="tipoMesa" name="tipo">
            <ion-select-option value="vip">{{ 'SOLICITUD.VIP' | translate }}</ion-select-option>
            <ion-select-option value="estandar">{{ 'SOLICITUD.ESTANDAR' | translate }}</ion-select-option>
            <ion-select-option value="movilidad reducida">{{ 'SOLICITUD.MOVILIDAD' | translate }}</ion-select-option>
          </ion-select>
          <label for="fecha">{{ 'CLIENTE_RESERVA.COMENSALES' | translate }}:</label>
          <ion-input type="number" required name="cantidadComensales" [(ngModel)]="cantidadComensales"></ion-input>

        <div class="botones">
          <button (click)="confirmarReserva()">{{ 'CLIENTE_RESERVA.CONFIRMAR' | translate }}</button>
        </div>
      </div>
    </div>
    
  </div>
    

<!-- } -->


<div class="back-button">
  <button (click)="volverFuncionalidad()">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
</div>


@if (isLoading) {
  <div class="spinner-overlay">
    <div class="spinner-container">
      <img src="assets/icono.png" alt="Cargando..." class="spinning-logo">
      <p>Procesando...</p>
    </div>
  </div>
}